.alert
{
    position: relative;
    top: -150px;

    width: 300px;
    margin: 0 auto;

    transition: .5s;

    border: .5px solid #000;
    border-radius: 4px;
    background-color: #e6e6e6;
}
.alert > h3
{
    text-align: center;
}
.alert > p
{
    padding-left: 5px;
}
.alert > button{
	margin:10px 10px;
}
